@import url('https://fonts.googleapis.com/css?family=Lobster+Two:700');
@import url("https://use.typekit.net/jpo6jxj.css");
:root {
  /* palette courtesy of http://www.colourlovers.com/palette/92095/Giant_Goldfish */
  --black: #333333;
  --blue: #69D2E7;
  --blue-lighter: #A7DBD8;
  --lime: #E0E4CC;
  --orange-lighter: #F38630;
  --orange: #FA6900;
  --lobster: var(--lobster);
  --bebas: 'bebas-neue-by-fontfabric';
}
body {
  font-size: 16px;
  background-color: var(--blue);
}
.reveal {
  font-family: var(--bebas);
}
.reveal h1, .reveal h2 {
  text-transform: none;
  font-family: var(--lobster);
}
.reveal h1 {
  line-height: 1;
  font-size: 4.5rem;
  color: var(--orange-lighter);
}
.reveal h1 .max {
  font-family: var(--bebas);
  font-size: 9rem;
  letter-spacing: -0.2rem;
  color: var(--lime);
  text-shadow: 1px 1px 5px var(--orange);
  display: block;
}
.reveal h2 {
  font-size: 3rem;
}
.bio {
  font-family: var(--bebas);
  font-size: 3.5rem;
  color: var(--black);
}
.bio span {
  display: block;
}
.bio-name {
  font-family: var(--lobster);
  font-size: 8rem;
}
