body {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,Fira Sans,sans-serif;
  font-size: 16px;
  color: #ffffff;
}
.h1 {
  color: #ffffff;
  letter-spacing: -0.2rem;
  line-height: 1;
  font-size: 5rem;
}
.h1 .max {
  font-size: 9rem;
  line-height: 0.75;
}
.twitter {
  color: #00aced;
  display: inline-flex;
  align-items: center;
}
